<p-panel>
    <ng-template #header>
        <div class="flex flex-col">
            <h1 class="text-2xl">
                {{ 'feature.register.title' | translate }}
            </h1>
            <span class="text-slate-300 text-xs">
                {{ 'feature.register.subtitle' | translate }}
            </span>
        </div>
    </ng-template>

    <ng-template #footer>
        <div class="flex flex-col">
            <p-button fluid size="small" type="submit" icon="pi pi-check" severity="primary" [outlined]="true"
                label="{{'feature.register.confirmation' | translate}}" />
        </div>
    </ng-template>

    <form action="#" method="POST" class="space-y-6">
        <div class="flex flex-col gap-4 w-full">
            <div class="flex flex-col gap-2">
                <label for="email" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    {{ 'feature.register.email.mailLabel' | translate }}
                </label>
                <input pInputText inputId="email" [(ngModel)]="value" placeholder="sheldon.cooper@bbt.de"
                    class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                <small id="username-help" class="text-slate-300">
                    {{ 'feature.register.email.error.required' | translate }}
                </small>
            </div>
            <div class="flex flex-col gap-2">
                <label for="password" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    {{ 'feature.register.password.pwdLabel' | translate }}
                </label>
                <p-password inputId="password" [(ngModel)]="value" [toggleMask]="true" autocomplete="off"
                    promptLabel="{{'feature.register.password.feedbackLabels.choose' | translate}}"
                    weakLabel="{{'feature.register.password.feedbackLabels.simple' | translate}}"
                    mediumLabel="{{'feature.register.password.feedbackLabels.average' | translate}}"
                    strongLabel="{{'feature.register.password.feedbackLabels.complex' | translate}}"
                    inputStyleClass="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    <ng-template #header>
                        <div class="font-semibold text-xm mb-4">
                            {{ 'feature.register.password.pwdLabel' | translate }}
                        </div>
                    </ng-template>
                    <ng-template #footer>
                        <p-divider />
                        <ul type="bullet" class="pl-2 my-0 leading-normal text-xs">
                            <li>{{ 'feature.register.password.rules.ucChars' | translate }}</li>
                            <li>{{ 'feature.register.password.rules.number' | translate }}</li>
                            <li>{{ 'feature.register.password.rules.specialChars' | translate }}</li>
                            <li>{{ 'feature.register.password.rules.minLength' | translate }}</li>
                        </ul>
                    </ng-template>
                </p-password>
                <small id="username-help" class="text-slate-300">
                    {{ 'feature.register.password.error.required' | translate }}
                </small>
            </div>
        </div>
    </form>
</p-panel>